<%= partial :header %>

<div class="container content article">
  <div class="row">
    <div class="col-md-12">
      <h1 class="article__title"><%= markdown(current_page.data.title) %> </h1>

      <div class="row article__meta-info">
        <div class="col-xs-4 col-md-4">
          <div class="article__date"><%= current_page.date.strftime('%B %e, %Y') %> </div>
        </div>

        <div class="col-xs-4 col-md-4">
          <div class="article__read-time"><%= markdown_file_read_time(current_page.source_file) %></div>
        </div>

        <div class="col-xs-4 col-md-4">
          <div class="article__comments">
            <a href="<%= config[:root_url] + current_page.url %>#disqus_thread">0 Comments</a>
          </div>
        </div>
      </div>

      <div class="row article__meta-tags">
        <div class="col-xs-12 col-md-12">
          <% if current_page.tags.size > 0 %>
            <div class="article__tags">
              <% current_page.tags.each do |tag| %>
                <%= link_to tag, tag_path(tag) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="article__separator"></div>

      <%= partial 'newsletter-form' %>
      <%= yield %>
      <%= partial 'article-notes' %>

      <%= disqus %>
      <%= disqus_count %>
    </div>
  </div>
</div>

<%= partial :footer %>
