<%= partial :header %>

<div class="content article">
  <h1 class="article__title"><%= current_page.data.title %> </h1>

  <div class="article__date"><%= current_page.date.strftime('%B %e, %Y') %> </div>
  <div class="article__read-time">10 minutes</div>

  <% if current_page.tags.size > 0 %>
    <div class="article__tags">
      <% current_page.tags.each do |tag| %>
        <%= link_to tag, tag_path(tag) %>
      <% end %>
    </div>
  <% end %>

  <div class="article__separator"></div>

  <%= yield %>
</div>

<%= partial :footer %>
